@import "node_modules/bootstrap/scss/bootstrap";

.main-article {
  margin-bottom: 2rem;

  &.nomargin {
    margin: 0 !important;
    margin-bottom: 0 !important;
    margin-top: 5px !important;
  }

  &.medium {
    .news-title {
      font-size: 1.3rem;
    }
    .other-news {
      font-size: 0.9rem;
    }

    .author {
      font-size: 0.9rem;
    }
  }

  &.small {
    .news-title {
      font-size: 0.9rem;
    }
    .other-news {
      font-size: 0.8rem;
    }

    .author {
      font-size: 0.8rem;
    }
  }

  &:hover {
    .social-icon.facebook {
      color: #3c5997;
    }

    .social-icon.twitter {
      color: #000;
    }
  }

  .social-icon {
    color: rgb(150, 150, 150);
    transition: color 0.3s ease;
    text-decoration: none;

    small {
      color: rgb(115, 115, 115) !important;
    }
  }
  .image-wrapper {
    position: relative;

    img {
      object-fit: cover;
      object-position: center;
      width: 100%;
      height: 100%;
    }

    .image-overlay {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      display: flex;

      .video-player {
        aspect-ratio: 1;
        height: 40%;
        max-height: 3rem;
        border-radius: 50px;
        color: #fff;
        background-color: rgba(0, 0, 0, 0.6);
        border-radius: 50%;
        box-shadow: rgba(255, 255, 255, 0.25) 0px 54px 55px,
          rgba(255, 255, 255, 0.25) 0px -12px 30px,
          rgba(255, 255, 255, 0.25) 0px 4px 6px,
          rgba(255, 255, 255, 0.25) 0px 12px 13px,
          rgba(255, 255, 255, 0.25) 0px -3px 5px;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      &.center {
        justify-content: center;
        align-items: center;
      }
      &.right {
        justify-content: flex-end;
        align-items: flex-end;
        right: 0.5rem;
        bottom: 0.5rem;
      }
    }
  }

  .news-title {
    font-size: 1.5rem;
    line-height: 23px !important;
    a {
      color: #000;

      font-weight: 600;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  .other-news {
    font-size: 17px;
    a {
      line-height: 23px;
      font-weight: 400;
      color: rgb(94, 94, 94);
      text-decoration-color: rgb(94, 94, 94);

      text-decoration: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }

  &.aside {
    .row {
      > :nth-child(1) {
        padding: 0;
      }

      > :nth-child(2) {
        padding: 0;
        padding-left: 1rem;

        @include media-breakpoint-down(md) {
          padding-left: 0rem;
        }
      }
    }
  }

  // On devices < medium all the texts are the same size
  @include media-breakpoint-down(md) {
    .news-title {
      font-size: 1.2rem !important;
    }
  }
}

.bullet {
  color: rgb(223, 11, 11);
  font-size: 1.5rem;
  vertical-align: middle;
}

.section-title {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: 1.2rem;
  color: color-mix(in srgb, var(--primary) 99%, black 1%); // accessibilty fix
}
