.HomePage {
  padding: 0 var(--padding-x) !important;

  .link {
    color: rgb(10, 80, 118) !important;
  }

  .adv {
    background-color: #eeeeee;
  }

  .section-title {
    font-size: 0.9rem;
    font-weight: bold;
    margin-bottom: 1rem;
    color: var(--primary);
  }

  .main-article {
    border-bottom: rgb(222, 222, 222) 1px solid;
    margin-bottom: 2rem;

    img {
      object-fit: cover;
      object-position: center;
    }

    .news-title {
      a {
        color: #000;
        font-size: 1.5rem;
        font-weight: 600;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .other-news {
      a {
        line-height: 23px;
        font-weight: 400;
        color: rgb(94, 94, 94);
        text-decoration-color: rgb(94, 94, 94);
        font-size: 17px;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .bullet {
    color: rgb(223, 11, 11);
    font-size: 1.5rem;
    vertical-align: middle;
  }
}
