@import "node_modules/bootstrap/scss/bootstrap";

.HomePage {
  padding: 0 var(--padding-x) !important;

  .hover-decoration {
    text-decoration: none;
    &:hover {
      text-decoration: underline;
    }
  }

  .hot-link {
    color: rgb(10, 80, 118) !important;
  }

  .adv {
    background-color: #eeeeee;
  }

  .region-btn {
    background-color: var(--primary);
    cursor: pointer;
    transition: all 0.3s;
    &:hover {
      background-color: rgb(10, 80, 118) !important;
      height: 100%;
    }
  }

  .main-section {
    flex: 5;
  }

  aside {
    border-left: rgb(222, 222, 222) 1px solid;
    flex: 2;
    @include media-breakpoint-down(md) {
      border: none;
      padding: 0 !important;
    }
  }

  main {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 0 !important;
      .main-section {
        padding: 0 !important;
      }
    }
  }
}
