@import "node_modules/bootstrap/scss/bootstrap";

.HomePage {
  padding: 0 var(--padding-x) !important;

  .link {
    color: rgb(10, 80, 118) !important;
  }

  .adv {
    background-color: #eeeeee;
  }

  .main-section {
    flex: 5;
  }

  aside {
    border-left: rgb(222, 222, 222) 1px solid;
    flex: 2;
    @include media-breakpoint-down(md) {
      border: none;
      padding: 0 !important;
    }
  }

  main {
    @include media-breakpoint-down(md) {
      flex-direction: column;
      padding: 0 !important;
      .main-section {
        padding: 0 !important;
      }
    }
  }
}
