.PromoBanner {
  padding: 1rem var(--padding-x);

  h4 {
    margin-bottom: 0.5rem;
  }

  .subscribe-button,
  .close-button {
    border: none;
  }

  .subscribe-button {
    background-color: #000;
    border-radius: 5rem;
    padding: 0.4rem 2.2rem;
    color: #fff;
  }

  .close-button {
    background-color: transparent;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5rem;
    aspect-ratio: 1;
    width: 2.5rem;
    height: 2.5rem;

    &:hover {
      background-color: #000;
      color: #fff;
    }
  }
}
