@import "node_modules/bootstrap/scss/bootstrap";

.PromoBanner {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1rem var(--padding-x);
  background: linear-gradient(
    45deg,
    rgb(253, 204, 3) 0px,
    rgb(253, 204, 3) 100%
  );
  max-height: 19lvh;

  z-index: 200;

  .promo-content {
    margin: 0 auto;

    @include media-breakpoint-down(md) {
      padding: 1rem;
    }
  }

  .promo-actions {
    gap: 0.5rem;
  }

  .subscribe-button,
  .close-button {
    border: none;
    cursor: pointer;
  }

  .subscribe-button {
    background: rgba(0, 0, 0, 1);
    border-radius: 5rem;
    padding: 0.4rem 2.2rem;
    color: #fff;
    transition: opacity 0.2s ease;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.7);
    }
  }

  .close-button {
    background-color: transparent;
    padding: 0.5rem;
    transition: all 0.3s ease-in-out;
    border-radius: 5rem;
    aspect-ratio: 1;
    width: 2.5rem;
    height: 2.5rem;

    &:hover,
    &:focus {
      background: rgba(0, 0, 0, 0.7);
      color: #fff;
    }
  }
}
