@import "node_modules/bootstrap/scss/bootstrap";

.Navbar {
  padding: 0 var(--padding-x);
  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 1000;

  .user-btn {
    display: none;
  }

  &.position-relative {
    position: relative;
  }

  &.fixed-nav {
    position: fixed;
    transform: translateY(0);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  }

  .nav-btn {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }

  @include media-breakpoint-down(md) {
    position: sticky !important;

    .desktop-search-bar,
    .social-btn,
    .promo-btn,
    .login-btn {
      display: none !important;
    }

    .user-btn {
      display: block !important;
    }
  }
}

.update-time-text {
  pointer-events: none;
  font-weight: 400;
  font-size: 13px;
  color: rgb(94, 94, 94);
}

.mobile-time-section {
  padding: 1rem;
  text-align: center;
}

.mobile-menu {
  background-color: rgb(0, 90, 132);
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000000;
  padding: 1rem 1rem;
  color: #fff;
  overflow-x: none;
  overflow-y: scroll !important;

  &.open {
    display: block;
  }

  .mobile-search {
    display: flex;
    background-color: #fff;
    align-items: center;
    border-radius: 7px;
    padding: 0.5rem;
    overflow: hidden;
    color: var(--dark-grey);

    input {
      outline: none;
      background-color: transparent;
      border: none;
      flex: 1;
    }
  }

  button {
    outline: none;
    background-color: transparent;
    border: none;
    padding: 0;
    margin: 0;
    color: #fff;
  }
}
