.Navbar {
  padding: 0 var(--padding-x);

  transition: all 0.3s ease-in-out;
  top: 0;
  z-index: 1000;

  &.position-relative {
    position: relative;
  }

  &.fixed-nav {
    position: fixed;
    transform: translateY(0);
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.4);
  }

  .nav-btn {
    text-decoration: none;
    cursor: pointer;
    &:hover {
      text-decoration: underline;
    }
  }
}
