.Footer {
  border-top: rgb(222, 222, 222) 1px solid;
  font-size: 0.75rem;
  margin: 0 var(--padding-x);
  padding: 1rem 0;

  a {
    text-decoration: none;
    color: var(--dark-grey);

    &:hover,
    &:focus {
      text-decoration: underline;
      outline: none;
    }
  }

  .left-links {
    ul {
      margin: 0;
      padding: 0;
    }
  }

  .right-links {
    ul {
      margin: 0;
      padding: 0;
      display: flex;
      flex-wrap: wrap;
      justify-content: flex-end;
      align-items: center;
      line-height: 16px;
    }

    li {
      position: relative;
      margin-right: 0.2rem;
      padding-right: 0.2rem;
      margin-bottom: 0.2rem;

      &:not(:last-child)::after {
        content: "";
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        height: 60%;
        border-right: 1px solid var(--dark-grey);
      }
    }
  }

  .bottom-links {
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    flex-wrap: wrap;

    address {
      font-style: normal;
      margin: 0;
    }

    p {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      margin: 0;
    }

    span,
    a {
      &:not(:first-child) {
        border-left: 1px solid var(--dark-grey);
        margin-left: 0.5rem;
        padding-left: 0.5rem;
      }
    }
  }
}
