.fake-video-ad {
  z-index: 10000;
  bottom: 1rem;
  right: 1rem;
  position: fixed;
  aspect-ratio: 1100/652;
  height: 18rem;
  background-color: #dddddd;
  border: 1px solid #909090;
  overflow: hidden;

  .video-ad-figure {
    margin: 0;
    height: 100%;
  }

  .video-frame {
    display: block;
    height: 100%;
    width: 100%;
    object-fit: cover;
  }

  .overlay-text {
    height: 100%;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9), transparent);
    font-size: 16px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  .mute-icon {
    font-size: 18px;
    border: none;
    background: transparent;
    color: #fff;
    margin-left: 1rem;
    cursor: pointer;

    &:focus {
      outline-offset: 2px;
    }
  }

  .countdown {
    white-space: nowrap;
  }

  .progress-bar-container {
    height: 4px;
    background-color: #fff;
    overflow: hidden;

    .progress-bar-fill {
      height: 100%;
      background-color: #ccc;
      transition: width 0.5s ease;
    }
  }
}
